.DS_Store
.dart_tool/

.packages
.pub/
.idea/

build/
ios/.symlinks
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/ios/Flutter/flutter_export_environment.sh
example/.flutter-plugins-dependencies 
example/.flutter-plugins

.vscode/settings.json
